<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>
  <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Add</button>
  
  <angular-slickgrid gridId="grid1"
                       [columnDefinitions]="columnDefinitions_1"
                       [gridOptions]="gridOptions_1"
                       [dataset]="dataset_1"
                       (onAngularGridCreated)="angularGridReady($event.detail)">

  </angular-slickgrid>
</div>